extends layout_master.pug

block variables
    - var pagetitle = "Unlock your imagination"

block css
    link(href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css",rel="stylesheet")

block body
    body(class="body")
        main(id="terminal")
        a(class="github-fork-ribbon right-top hide", href="https://github.com/desholmes/text-quest")

block scripts
    script(src="/js/text-quest-v0.1.5.js", type="text/javascript")
    
    